* {
  box-sizing: border-box;
  font-family: Poppins;
}

body {
  margin: 0;
}

.logo{
  width: 82.02px;
  height: 25.35px;
  margin-top: 22px;
  margin-left: 30px;
  /* padding: 0px 0.01px 0px 0.01px; */
  gap: 0px;
  opacity: 0px;

}

.nav {
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 70px;
  gap: 0px;
  opacity: 0px;

}

.grid {
 

  display:flex;
  margin-top: 96px;
  justify-content: center;


}

/* //make images responsive  */

.grid >img {
  max-width:70%;
  height: auto;
  margin-bottom: 40px;
  
}

.title {
  margin-left: 8%;
  
  font-size: 36px;
  font-weight: 600;
  line-height: 39.6px;
  text-align: left;

}

.subtitle {
  margin-left: 8%;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 300;
  line-height: 17.6px;
  text-align: left;
}

.cards {

  /* width: 176px; */
  /* height: 235px; */
  margin-top: 49px;
  margin-left: 37px;

  /* border-radius: 9px 0px 0px 0px; */
  
}

.cardContainer {
  
  max-height:19.75rem;
  max-width:17rem;
  height:auto;
}

.cardContainer > img{

  border-radius: 5%;
  width:100%;
  height:auto;
}

.rating{
  display: flex;
  margin-top: 3.5rem;
}


.star {
  height:18px;
  align-self: center;
 
  
}

.grey {
  color: #918E9B;
}

.cards>card{
  max-width:70%;
  height: auto;
}






/* 
.star{
  display: flex;
  align-items: center;
  margin-top: 5px;
  
}
.rating{
  
  flex-direction: row;
  margin: 0

}

.star > img {
  align-self: center;
  width:20px;
  margin-right: 6px;
}


.grey{
  color:#918E9B;
}

.bold{
  font-weight:bold;
}

.katie> h2,p{
  margin:0;
  margin-top: 8px;
}

h2 {
  font-size: 1rem;
  font-weight: normal;
} */